.profileContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-height: 600px;
  display: flex;
  /*flex-direction: column;*/
  /*flex-direction: row;*/
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(9, 42, 104) 0%,
    rgba(56, 72, 20, 0.9) 59%,
    rgba(17, 75, 62, 0.9) 100%
  )
} 

.titleProfile {
  height:100px;
  width:300x;  
  padding-bottom: 90%;
}

.leftContainer {
  margin: auto;
  flex-direction: column;
  align-content: flex-start;
}

.rightContainer {
  margin: auto;
  flex-direction: column;
  align-content: flex-end;
}

.editButtonContainer {
  margin-top: 550px;
  justify-content: center;
}