.container {
    margin: auto;
    width: 100%; 
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .header {
    height:100px;
    width:300x;  
    align-self: center;
    color: black;
  }

  .field {
    width: 100%;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    border: 5px;
  }

  .label {
    color: black;
  }

  